/* ENTIRE DOCUMENT */
* {
    box-sizing: border-box;
        /* font-family: "Exo", sans-serif; */
        font-family: "Open Sans", sans-serif;
    
  }
  
  :root {
    --color-1: #d2b48c;
    --color-2: #a5292a;
    --color-3: #ffa500;
    --color-4: #e83611;
    --color-5: #d2b48c;
  }
  .pages {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows:auto 1fr auto;
    size: letter; 

  }
  
 /* TITLE PAGE  */
  .wrapper {
    background: #000;
    line-height: 1;
    min-height: 100%;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 16px);
  }
  
  h1 {
    font-family: "Exo", sans-serif;
    font-size: 15vw;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, 
      var(--color-1) 19%, 
      transparent 19%,transparent 20%, 
      var(--color-2) 20%, var(--color-2)  39%,
      transparent 39%,transparent 40%, 
      var(--color-3) 40%,var(--color-3) 59% ,
      transparent 59%,transparent 60%, 
      var(--color-4) 60%, var(--color-4) 79%,
      transparent 79%, transparent 80%, 
      var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .container {
    padding: 1.5rem;   
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-1) .8%,transparent  .8% ), 
      radial-gradient(circle at 5.5% 3%,var(--color-2) .45% ,transparent .45% ), 
      radial-gradient(circle at 2.5% 3.5%,var(--color-3) .5% ,transparent .5% ), 
      radial-gradient(circle at 4.5% 1.2%,var(--color-4) .25%,transparent .25% ),
  
      radial-gradient(circle at 98% 98% ,var(--color-1) .8%,transparent  .8% ), 
      radial-gradient(circle at 95% 95%,var(--color-2) .45% ,transparent .45% ), 
      radial-gradient(circle at 94.5% 97.5%,var(--color-3) .5% ,transparent .5% ), 
      radial-gradient(circle at 98.5% 95.5%,var(--color-4) .25%,transparent .25% );
  
  
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 6.5rem;
    }
  }

  .group {
    color: white;
    text-align: center; 
}

.title-page {
  text-align: center;

}
.subtitle {
    font-size: 20px;
    color: white
}

 /* DOCUMENT PAGES */
  h2 {
    margin: 0px; 

  }
  /* h2.remove-whitespace {
    margin: 0;
    padding: 0;
    line-height: 30px;
    height: 25px;
  }
  
  div {
    padding: 0;
    margin-bottom: 5px;
    border: 1px solid black;
  } */

  p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px; 
  }
  
 

.header {
text-transform: uppercase;
font-size: 40px;
/* font-family: sans-serif; */
letter-spacing: 4px;
  height: 2in;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* TABLE OF CONTENTS PAGE */
.table-of-contents {
font-family: sans-serif;
text-transform: uppercase;
font-size: 30px;
  background-color: black;
  color: white;
  width: 100%;
  padding: 200px ;
  min-height: 100vh;
    min-height: 100dvh;
    display: grid;  
}

.entry {
font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.page-number {
  width: 1in;
  text-align: left;
  color: white;
  
}

.topic {
  text-align: right;
  width: calc(100% - 1in);
}

.content {
  padding: 10px;
}

/* MEET THE TEAM PAGE */
  
  /* .photos {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    width: 48%;
  }
  
  .image-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  } */
  
  /* img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
   */
  
 
  /* .caption {
  font-size: 15px;
    /* margin-top: 10px; */
 /* text-align: center; */
  /* } */
   */

  ol, ul {
    font-size: 20px;
    margin: 100px;
  }
  table, th, td {
    width: 70%;
    border: 1px solid;
  margin-left: auto;
  margin-right:auto;
  }
  th {
    background-color: beige;
    font-size: 20px;
  }

  /* DATA VISUALIZATIONS */
  .chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .chart-image {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .chart-image img {
    width: 80%;
    height: auto;
  }
  
  .chart-caption {
    text-align: center;
    width: 100%;
 font-size: 20px;
    margin-top: 10px;

  }
  
  /* FUTURE ACTIONS  */
  .box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  text-align: center;
}

  